<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="public/css/styles.css">
    <title> ARTESMARIACE TEJIDOS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/997049d577.js" crossorigin="anonymous"></script>


</head>

<body>

    <header>
        <div class="menu container">
            <div class="top-header">
                <a href="#" class="logo">ARTESANIAS MARIACE TEJIDOS</a>
                <div class="form" action="#" method="GET" role="search">
                    <div class="input">Articulos Varios<i class="fa fa-search"></div>
                    <div class="header-content container">
                        <div class="content">
                            <h1> TEJIDOS MARIA CE </h1>
                            <img src="../public/images/abejita.png" alt="">
                            <img src=".../public/images/abejita" alt="" srcset="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione impedit quae, atque quo
                                fugit quod
                                fugiat enim ea laborum at! Reiciendis facilis illum autem eligendi, eum voluptatem
                                perferendis quis
                                nesciunt?
                            </p>
                            <a href="#" class "btn-1"> Mas informacion </a>
                            <a href="#" class "btn-1"> Mas informacion </a>
                        </div>


                    </div>

                    <h2>
                        <div class="compraencuotas"> <i class="fa-solid fa-hand-holding-dollar">

                            </i> Pague en efectivo o con tarjeta electronica, se reciben de todos los bancos</div>
                    </h2>
                </div>
                <%- include("./partial/navbar") -%>
    </header>

    <main>
        <section id="main">
            <h3>Servicio 1</h3>
            <div class="listado">
                <article>
                    <img src="../public/images/collar.png" alt="" srcset="">
                    <main class="services container">
                        <div class="service">

                            <h3> Servicio 1 </h3>
                            <img src="..../collar.png" class="img-fluid" alt="...">
                            <source srcset="../public/images/collar.png" type="image/svg+xml">
                            <img src="../public/images/collar.png" class="rounded" alt="...">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eaque sed! In
                                earumrepellendus ab eaquenulla, officia quibusdam dolor et aperiam, voluptates impedit!
                                Corrupti totam quofugiat ex dolor?
                            </p>
                            <div class="main-article">
                                <p class="precio">COP $ 25.000</p>
                            </div>
                        </div>

                    </MAIN>
                </article>
            </div>
        </SECTION>
        </header>

        <section id="main">
            <article>
                <img src="../public/images/conchita.png" alt="Mi imagen de prueba">
                <div class="main-article">
                    <div class="service">
                        <img src="../public/images/conchita.png" alt="Mi imagen de prueba">
                        <h3> Servicio 2 </h3>
                        <p class="precio">COP $5.500</p>
                        <i class="fas fa-truck"></i>
                        <h4 class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eaque sed! In earum
                                repellendus ab eaque nulla, officia quibusdam dolor et aperiam, voluptates impedit!
                                Corrupti
                                totam quos fugiat ex
                                dolor?
                            </p>
                        </h4>
                    </div>
            </article>
        </SECTION>
        <section id="main">
            <article>
                <div class="service">
                    <div class="main-article">
                        <h3> Servicio 3 </h3>
                        <img src="public/images/collar.png" alt="">
                        <p class="precio">COP $45.000</p>
                        <i class="fas fa-truck"></i>
                        <h4 class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eaque sed! In
                                earum
                            </p>
                        </h4>
                    </div>
                </div>

            </article>
        </section>

        <section>
            <h3 Ofertas class="ofertas">Ofertas</h3>
            <div class="listado">
                <article>
                    <div class="service">
                        <img src="../public/images/mochilitas.PNG" alt="">
                        <h3> Servicio 4 </h3>
                        <div class="main-article">
                            <p class="precio">COP $65.000</p>
                            <p class="descuento">60% off</p>
                            <i class="fas fa-truck"></i>
                            <h4 class="descripcion">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eaque sed!
                                    In
                                    earum
                                    repellendus
                                    ab eaque
                                    nulla, officia quibusdam dolor et aperiam, voluptates impedit! Corrupti
                                    totam
                                    quos fugiat ex
                                    dolor?
                                </p>

                            </h4>
                        </div>
                </article>


            </div>

            <article>
                <div class="main-article">
                    <div class="service">
                        <img src="../public/images/perrito.jpg" alt="">
                        <h3> Servicio 5 </h3>
                        <p class="precio">COP $25.000</p>
                        <p class="descuento">20% off</p>
                        <i class="fas fa-truck"></i>
                        <h4 class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eaque sed! In
                                earum
                                repellendus
                                ab eaque
                                nulla, officia quibusdam dolor et aperiam, voluptates impedit! Corrupti totam
                                quos
                                fugiat ex
                                dolor?
                            </p>
                        </h4>
                    </div>
            </article>
            </div>

            <article>
                <img src="../public/images/tortuguitas.jpg" alt="">
                <div class="main-article">
                    <div class="service">
                        <h3> Servicio 6 </h3>
                    </div>
                    <p class="precio"> COP $50.500</p>
                    <p class="descuento">10% off</p>
                    <i class="fas fa-truck"></i>
                    <h4 class="descripcion">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eaque sed! In earum
                            repellendus
                            ab eaque
                            nulla, officia quibusdam dolor et aperiam, voluptates impedit! Corrupti totam quos
                            fugiat ex
                            dolor?
                        </p>
                    </h4>
                </div>
            </article>
            </div>
        </SECTION>
    </main>

    <section class="porfolios container">

        <h2>Porfolio</h2>

        <div class="porfolio">
            <img src="../public/images/1 usuario.jpg" alt="">
            <div class="porfolio-1">
                <h3>Porfolio 1</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo cupiditate numquam culpa
                    maiores, officiis recusandae aut consequatur repudiandae nostrum in excepturi voluptatem ut,
                    corporis quae inventore amet similique incidunt!
                </p>
                <a href="#" class="btn-2">Informacion</a>
            </div>
        </div>

        <div class="porfolio">
            <div class="porfolio-2">
                <h3>Porfolio 2</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo cupiditate numquam culpa
                    maiores, officiis recusandae aut consequatur repudiandae nostrum in excepturi voluptatem ut,
                    corporis quae inventore amet similique incidunt!
                </p>
                <a href="#" class="btn-2">llamenos</a>
            </div>
            <img src="../public/images/2 llamenos.jpg" alt="">
        </div>

        <div class="porfolio">
            <img src="../public/images/3 ubicacion.png" alt="">
            <div class="porfolio-3">
                <h3>Porfolio 3</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo cupiditate numquam culpa
                    maiores, officiis recusandae aut consequatur repudiandae nostrum in excepturi voluptatem ut,
                    corporis quae inventore amet similique incidunt!
                </p>
                <a href="#" class="btn-2">Ubicacion</a>
            </div>
        </div>

        <div class="porfolio">
            <img src="../public/images/4 localizacion.png" alt="">
            <div class="porfolio-4">
                <h3>Porfolio 4</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo cupiditate numquam culpa
                    maiores, officiis recusandae aut consequatur repudiandae nostrum in excepturi voluptatem ut,
                    corporis quae inventore amet similique incidunt!
                </p>
                <a href="#" class="btn-2">Localizacion</a>
            </div>
        </div>
    </section>

    </div>

    </section>
    </main>
    <!-- footer -->
    <%- include("./partial/footer") -%>

        <footer>
            <div class="container">
                <div class="info">
                    <div class="info-content">
                        <div class="info-price">
                            <h2>Costo</h2>
                            <p class="price">COP $ 3.500</p>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus,
                                sunt accusantium commodi officia cupiditate nulla, tempore ea nobis placeat fugit
                            </p>

                        </div>
                        <div class="info-txt">
                            <h2>Princing list</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Consequuntur optio aperiam olestiae eius accusamus ad velit
                            </p>
                            <a href="#" class="btn-1">Informacion</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>

</html>