<nav>
    <div class="menu_tienda">

        <div class="logoybarra">
            <img src="public/images/vestidonavidad.jpg" alt="" sizes="" srcset="">
            <input type="checkbox" id="menu">
            <label for="menu">
            </label>

            <h1>
                TEJIDOS EN CROCHET
            </h1>
            <nav class="navbar">
            </nav>
        </div>
        <div class="items_menu_tienda"><a href="/">Inicio</a></div>
        <div class="items_menu_tienda"><a href="/products/list">Productos</a></div>
        <div class="items_menu_tienda"><a href="#">Ofertas</a></div>
        <div class="items_menu_tienda"><a href="/contacto">Contacto</a></div>
    </div>
</nav>

<a href="#" class="hamburguer-button" role="menu">
    <i class="fa-solid fa-bars"></i>
</a>